<ion-header>
  <mat-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Termination Request Form</ion-title>
  </mat-toolbar>
</ion-header>

<ion-content>
  <mat-card class="card">
    <mat-card-title>
      <h2>Termination Request Form </h2>
    </mat-card-title>
  
    <mat-card-content>
  
      <form class="form"[formGroup]="requestForm">
  
        <mat-form-field>
          <mat-label>Supervisor Name</mat-label>
          <input matInput formControlName="empReportsTo">
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Employee Name</mat-label>
          <input matInput formControlName="empName">
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Employee ID</mat-label>
          <input type="number" matInput formControlName="empID" [matAutocomplete]="auto">
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Reason</mat-label>
          <input matInput formControlName="reason">
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>End Date</mat-label>
          <input matInput [matDatepickerFilter]="myFilter" [matDatepicker]="picker" formControlName="empEndDate">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="sendRequest()">Submit</button>
    </mat-card-actions>
  </mat-card>
</ion-content>
