<ion-header>
  <mat-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Admin View</ion-title>
  </mat-toolbar>
</ion-header>

<ion-content>
  <mat-card class="card">
    <mat-card-title>
    <h2>Admin Dashboard </h2>
</mat-card-title>

    <mat-card-content>

      <mat-tab-group>
        <mat-tab label="Termination Steps"> 
          <style>
            table {
              width: 100%;
            }
            .mat-form-field {
              width: 100%;
            }
          </style>
          <mat-dialog-content >
              <mat-card>
                  <mat-card-title>
                      <span>Select Modules</span><button mat-raised-button (click)="NothanksClick()">X</button>
                  </mat-card-title>
                  <mat-card-content>
          
                    <mat-form-field>
                      <mat-label>Search Module</mat-label>
                      <input matInput (keyup)="applyFilter($event)" placeholder="Search">
                    </mat-form-field>
          
                    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          
                      <ng-container matColumnDef="module">
                        <th mat-header-cell *matHeaderCellDef>Modules</th>
                        <td mat-cell *matCellDef="let element">
                          {{element.CommodityName}}
                         </td>
                      </ng-container>
          
          
                      <ng-container matColumnDef="set">
                        <th mat-header-cell *matHeaderCellDef>Assign</th>
                        <td mat-cell *matCellDef="let element">
                          <mat-slide-toggle class="example-margin" [checked]="element.RelationFlag" (change)="questionModulesMap(element.CommodityID,$event)"></mat-slide-toggle>
                        </td>
                      </ng-container>
          
                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
          
                    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
          
                  </mat-card-content>
              </mat-card>
          </mat-dialog-content>
          
        </mat-tab>
        <mat-tab label="Termination Request"> Content 2 </mat-tab>
        <mat-tab label="Termination Process"> <mat-form-field>
          <mat-label>Search Employee</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Search">
        </mat-form-field>
    
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">
  
        <ng-container matColumnDef="empName">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.empName}} </td>
        </ng-container>
    
        <ng-container matColumnDef="empID">
          <th mat-header-cell *matHeaderCellDef> Badge ID </th>
          <td mat-cell *matCellDef="let element"> {{element.empID}} </td>
        </ng-container>
    
        <ng-container matColumnDef="empJobTitle">
          <th mat-header-cell *matHeaderCellDef>Job Title </th>
          <td mat-cell *matCellDef="let element"> {{element.empJobTitle}} </td>
        </ng-container>
    
        <ng-container matColumnDef="empReportsTo">
          <th mat-header-cell *matHeaderCellDef> Reports To </th>
          <td mat-cell *matCellDef="let element"> {{element.empReportsTo}} </td>
        </ng-container>
    
        <ng-container matColumnDef="empEndDate">
          <th mat-header-cell *matHeaderCellDef> End Date </th>
          <td mat-cell *matCellDef="let element"> {{element.empEndDate}} </td>
        </ng-container>
  
        <ng-container matColumnDef="reason">
          <th mat-header-cell *matHeaderCellDef> Termination Reason </th>
          <td mat-cell *matCellDef="let element"> {{element.reason}} </td>
        </ng-container>
        
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>Status </th>
          <td mat-cell *matCellDef="let element"><mat-chip-list><mat-chip color={{element[login].color}} selected>{{element[login].status}}</mat-chip></mat-chip-list>  </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectRow(row)"></tr>
      </table>
    
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div> </mat-tab>
      </mat-tab-group>

  </mat-card-content>
  </mat-card>
</ion-content>
