table {
  width: 100%;
}
.card {
  margin: 12px;
  text-align: left;
  font-family: Helvetica;
  padding: 30px;
}
.login-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.login-margin {
  margin: 0 10px;
}
tr.mat-row {
  cursor: pointer;
}
.mat-form-field {
  width: 50%;
}