<ion-header>
  <mat-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Admin View</ion-title>
  </mat-toolbar>
</ion-header>

<ion-content>
  <mat-card class="card">
    <mat-card-title>
    <h2>Admin Dashboard </h2>
</mat-card-title>

    <mat-card-content>

      <mat-tab-group (selectedTabChange)="tabChange($event)">
        <mat-tab label="Termination Request"> <app-termination-request></app-termination-request> </mat-tab>
        <mat-tab label="Termination Process"><app-termination-process [index]="tabIndex"></app-termination-process> </mat-tab>
        <mat-tab label="Termination Steps"> <app-termination-steps></app-termination-steps> </mat-tab>
      </mat-tab-group>

  </mat-card-content>
  </mat-card>
</ion-content>
